USE [master]
GO
/****** Object:  Database [HTML]    Script Date: 9/12/2024 9:04:21 p. m. ******/
CREATE DATABASE [HTML]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HTML', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HTML.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HTML_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HTML_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HTML].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HTML]
GO
/****** Object:  Table [dbo].[Contactanos]    Script Date: 9/12/2024 9:04:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactanos](
	[Nombre] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Mensaje] [varchar](5000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formulario]    Script Date: 9/12/2024 9:04:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formulario](
	[Identificacion] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Genero] [varchar](50) NULL,
	[Fecha] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Contrasena] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsertarProducto]    Script Date: 9/12/2024 9:04:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsertarProducto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](max) NULL,
	[Nombre] [varchar](max) NULL,
	[Descripcion] [varchar](max) NULL,
	[Preciov] [varchar](max) NULL,
	[Unidades] [int] NULL,
	[Estado] [varchar](max) NULL,
	[urlimagen] [varchar](max) NULL,
	[Color] [varchar](max) NULL,
	[Modelo] [varchar](max) NULL,
	[Marca] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 9/12/2024 9:04:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Codigo] [int] NULL,
	[Nombre] [varchar](max) NULL,
	[Apellido] [varchar](max) NULL,
	[Nempresa] [varchar](max) NULL,
	[Telefono] [varchar](max) NULL,
	[Correo] [varchar](max) NULL,
	[Direccion] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
